@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
}

.box {
  /* position: absolute; */
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  /* background: rgba(0, 0, 0, 0.8); */
}

/*
=============== 
Navbar
===============
*/

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}

.social-icons {
  display: none;
}
.links-container {
  /* display: none; */
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-container {
  /* height: 10rem; */
  display: flex;
}

.links {
  padding: 7px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}

/* End of Header */
